doctype html
html
	head
		title Add Articles
body
	h1 #{title}
	form(method='post',action="articles/add")
		#form-group
			label Title:
			input.form-control(name='title',type='text')
		#form-group
			label Author:
			input.form-control(name='author',type='text')
		#form-group
			label Body:
			textarea.form-control(name='body')
		input.btn.btn.primary(type='submit',value='submit')